allow system_server {
    efs_file
    mpctl_data_file
}:dir search;

allow system_server {
    efs_file
    qti_debugfs
}:file r_file_perms;

allow system_server proc_last_kmsg:file r_file_perms;

get_prop(system_server, exported_camera_prop);
get_prop(system_server, userspace_reboot_config_prop);
get_prop(system_server, userspace_reboot_exported_prop);

allow system_server app_zygote:process { getpgid };

# Smart charger
allow system_server sysfs_battery_supply:file rw_file_perms;

allow system_server unlabeled:file unlink;
allow system_server vendor_init:fd use;
allow system_server vendor_init:fifo_file rw_file_perms;
