# talk to bootloader HAL
hal_client_domain(vold, hal_bootctl)

allow vold efs_file:dir rw_dir_perms;
allow vold efs_file:file create;

# For setting read_ahead_kb
allow vold sysfs_mmc_host:file w_file_perms;

allow vold {
    block_device
    cache_block_device
    efs_block_device
    system_block_device
}:blk_file getattr;

allowxperm vold vold_device:blk_file ioctl 0x1271;
allowxperm vold vold_device:blk_file ioctl BLKROGET;

# Allow loading keymaster firmware
allow vold firmware_file:dir search;
allow vold firmware_file:file r_file_perms;
allow vold firmware_file:lnk_file read;
